/* [project]/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-space-y-reverse: 0;
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-outline-style: solid;
    }
  }
}

@layer theme {
  :root, :host {
    --color-blue-500: #3080ff;
    --color-neutral-950: #0a0a0a;
    --color-white: #fff;
    --spacing: .25rem;
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --tracking-tight: -.025em;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-geist-sans);
    --default-mono-font-family: var(--font-geist-mono);
  }

  @supports (color: lab(0% 0 0)) {
    :root, :host {
      --color-blue-500: lab(54.1736% 13.3369 -74.6839);
      --color-neutral-950: lab(2.75381% 0 0);
    }
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .pointer-events-none {
    pointer-events: none;
  }

  .visible {
    visibility: visible;
  }

  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .inset-0 {
    inset: calc(var(--spacing) * 0);
  }

  .inset-\[-6\.25\%_-5\%\] {
    inset: -6.25% -5%;
  }

  .inset-\[-9\.09\%_-5\.56\%\] {
    inset: -9.09% -5.56%;
  }

  .inset-\[-11\.11\%_-10\%\] {
    inset: -11.11% -10%;
  }

  .inset-\[-16\.68\%_-5\%_-16\.67\%_-5\%\] {
    inset: -16.68% -5% -16.67%;
  }

  .inset-\[8\.33\%_12\.5\%\] {
    inset: 8.33% 12.5%;
  }

  .inset-\[8\.33\%_29\.17\%_54\.17\%_29\.17\%\] {
    inset: 8.33% 29.17% 54.17%;
  }

  .inset-\[9\.38\%_23\.01\%_23\.01\%_9\.38\%\] {
    inset: 9.38% 23.01% 23.01% 9.38%;
  }

  .inset-\[16\.67\%_8\.33\%\] {
    inset: 16.67% 8.33%;
  }

  .inset-\[29\.17\%_8\.33\%_45\.84\%_8\.33\%\] {
    inset: 29.17% 8.33% 45.84%;
  }

  .inset-\[45\.83\%_12\.5\%_8\.33\%_12\.5\%\] {
    inset: 45.83% 12.5% 8.33%;
  }

  .inset-\[62\.95\%_9\.38\%_9\.38\%_62\.95\%\] {
    inset: 62.95% 9.38% 9.38% 62.95%;
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .top-\[-0\.11px\] {
    top: -.11px;
  }

  .top-\[-0\.89px\] {
    top: -.89px;
  }

  .top-\[-1\.11px\] {
    top: -1.11px;
  }

  .top-\[0\.41px\] {
    top: .41px;
  }

  .top-\[8px\] {
    top: 8px;
  }

  .top-\[10px\] {
    top: 10px;
  }

  .top-\[12px\] {
    top: 12px;
  }

  .top-\[13px\] {
    top: 13px;
  }

  .top-\[21\.99px\] {
    top: 21.99px;
  }

  .top-\[23\.99px\] {
    top: 23.99px;
  }

  .top-\[34px\] {
    top: 34px;
  }

  .top-\[45\.98px\] {
    top: 45.98px;
  }

  .right-\[13px\] {
    right: 13px;
  }

  .left-0 {
    left: calc(var(--spacing) * 0);
  }

  .left-\[11\.99px\] {
    left: 11.99px;
  }

  .left-\[15px\] {
    left: 15px;
  }

  .left-\[23\.99px\] {
    left: 23.99px;
  }

  .left-\[75\.59px\] {
    left: 75.59px;
  }

  .left-\[81\.56px\] {
    left: 81.56px;
  }

  .left-\[199px\] {
    left: 199px;
  }

  .mx-auto {
    margin-inline: auto;
  }

  .mt-0 {
    margin-top: calc(var(--spacing) * 0);
  }

  .mt-\[2\.5px\] {
    margin-top: 2.5px;
  }

  .mt-\[312\.5px\] {
    margin-top: 312.5px;
  }

  .ml-0 {
    margin-left: calc(var(--spacing) * 0);
  }

  .ml-\[15px\] {
    margin-left: 15px;
  }

  .ml-\[104px\] {
    margin-left: 104px;
  }

  .ml-\[200px\] {
    margin-left: 200px;
  }

  .ml-px {
    margin-left: 1px;
  }

  .box-border {
    box-sizing: border-box;
  }

  .block {
    display: block;
  }

  .contents {
    display: contents;
  }

  .flex {
    display: flex;
  }

  .inline-flex {
    display: inline-flex;
  }

  .inline-grid {
    display: inline-grid;
  }

  .size-\[15\.993px\] {
    width: 15.993px;
    height: 15.993px;
  }

  .size-\[24px\] {
    width: 24px;
    height: 24px;
  }

  .size-full {
    width: 100%;
    height: 100%;
  }

  .h-9 {
    height: calc(var(--spacing) * 9);
  }

  .h-10 {
    height: calc(var(--spacing) * 10);
  }

  .h-11 {
    height: calc(var(--spacing) * 11);
  }

  .h-\[1\.991px\] {
    height: 1.991px;
  }

  .h-\[14\.002px\] {
    height: 14.002px;
  }

  .h-\[15\.993px\] {
    height: 15.993px;
  }

  .h-\[16\.005px\] {
    height: 16.005px;
  }

  .h-\[19\.997px\] {
    height: 19.997px;
  }

  .h-\[24\.001px\] {
    height: 24.001px;
  }

  .h-\[35\.991px\] {
    height: 35.991px;
  }

  .h-\[50px\] {
    height: 50px;
  }

  .h-\[51px\] {
    height: 51px;
  }

  .h-\[57\.979px\] {
    height: 57.979px;
  }

  .h-\[65px\] {
    height: 65px;
  }

  .h-\[69\.98px\] {
    height: 69.98px;
  }

  .h-\[100px\] {
    height: 100px;
  }

  .h-\[183\.936px\] {
    height: 183.936px;
  }

  .h-\[284\.912px\] {
    height: 284.912px;
  }

  .h-\[305px\] {
    height: 305px;
  }

  .h-\[405px\] {
    height: 405px;
  }

  .min-h-screen {
    min-height: 100vh;
  }

  .w-10 {
    width: calc(var(--spacing) * 10);
  }

  .w-\[35\.87px\] {
    width: 35.87px;
  }

  .w-\[44px\] {
    width: 44px;
  }

  .w-\[47\.826px\] {
    width: 47.826px;
  }

  .w-\[76px\] {
    width: 76px;
  }

  .w-\[90px\] {
    width: 90px;
  }

  .w-\[115px\] {
    width: 115px;
  }

  .w-\[199\.005px\] {
    width: 199.005px;
  }

  .w-\[289px\] {
    width: 289px;
  }

  .w-\[318px\] {
    width: 318px;
  }

  .w-\[319px\] {
    width: 319px;
  }

  .w-\[398\.011px\] {
    width: 398.011px;
  }

  .w-\[400\.013px\] {
    width: 400.013px;
  }

  .w-full {
    width: 100%;
  }

  .max-w-\[448px\] {
    max-width: 448px;
  }

  .max-w-\[601px\] {
    max-width: 601px;
  }

  .max-w-\[1512px\] {
    max-width: 1512px;
  }

  .max-w-none {
    max-width: none;
  }

  .flex-1 {
    flex: 1;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .grid-cols-\[max-content\] {
    grid-template-columns: max-content;
  }

  .grid-rows-\[max-content\] {
    grid-template-rows: max-content;
  }

  .flex-col {
    flex-direction: column;
  }

  .place-items-start {
    place-items: start;
  }

  .content-stretch {
    align-content: stretch;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }

  .gap-8 {
    gap: calc(var(--spacing) * 8);
  }

  .gap-\[6px\] {
    gap: 6px;
  }

  .gap-\[11px\] {
    gap: 11px;
  }

  .gap-\[15\.993px\] {
    gap: 15.993px;
  }

  .gap-\[19\.997px\] {
    gap: 19.997px;
  }

  .gap-\[26px\] {
    gap: 26px;
  }

  :where(.space-y-1\.5 > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 1.5) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 1.5) * calc(1 - var(--tw-space-y-reverse)));
  }

  .overflow-clip {
    overflow: clip;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .rounded-\[8px\] {
    border-radius: 8px;
  }

  .rounded-\[14px\] {
    border-radius: 14px;
  }

  .rounded-\[28px\] {
    border-radius: 28px;
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .rounded-md {
    border-radius: var(--radius-md);
  }

  .rounded-tl-\[28px\] {
    border-top-left-radius: 28px;
  }

  .rounded-tr-\[28px\] {
    border-top-right-radius: 28px;
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-0 {
    border-style: var(--tw-border-style);
    border-width: 0;
  }

  .border-\[0px_0px_0\.704px\] {
    border-style: var(--tw-border-style);
    border-width: 0 0 .704px;
  }

  .border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }

  .border-solid {
    --tw-border-style: solid;
    border-style: solid;
  }

  .border-\[\#2487f8\] {
    border-color: #2487f8;
  }

  .border-\[\#e0e0e0\] {
    border-color: #e0e0e0;
  }

  .border-\[transparent\] {
    border-color: #0000;
  }

  .border-blue-500\/40 {
    border-color: #3080ff66;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .border-blue-500\/40 {
      border-color: color-mix(in oklab, var(--color-blue-500) 40%, transparent);
    }
  }

  .border-input {
    border-color: var(--input);
  }

  .bg-\[\#030213\] {
    background-color: #030213;
  }

  .bg-\[\#767676\] {
    background-color: #767676;
  }

  .bg-\[\#f3f3f5\] {
    background-color: #f3f3f5;
  }

  .bg-\[var\(--white\,\#f9f9f9\)\] {
    background-color: var(--white, #f9f9f9);
  }

  .bg-background {
    background-color: var(--background);
  }

  .bg-card {
    background-color: var(--card);
  }

  .bg-destructive {
    background-color: var(--destructive);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-clip-padding {
    background-clip: padding-box;
  }

  .object-cover {
    object-fit: cover;
  }

  .p-6 {
    padding: calc(var(--spacing) * 6);
  }

  .px-3 {
    padding-inline: calc(var(--spacing) * 3);
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }

  .px-8 {
    padding-inline: calc(var(--spacing) * 8);
  }

  .px-\[15px\] {
    padding-inline: 15px;
  }

  .px-\[24\.991px\] {
    padding-inline: 24.991px;
  }

  .py-0 {
    padding-block: calc(var(--spacing) * 0);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-6 {
    padding-block: calc(var(--spacing) * 6);
  }

  .py-10 {
    padding-block: calc(var(--spacing) * 10);
  }

  .py-16 {
    padding-block: calc(var(--spacing) * 16);
  }

  .py-\[4px\] {
    padding-block: 4px;
  }

  .pt-0 {
    padding-top: calc(var(--spacing) * 0);
  }

  .pt-\[19\.997px\] {
    padding-top: 19.997px;
  }

  .pr-\[0\.011px\] {
    padding-right: .011px;
  }

  .pr-\[12px\] {
    padding-right: 12px;
  }

  .pb-0 {
    padding-bottom: calc(var(--spacing) * 0);
  }

  .pl-0 {
    padding-left: calc(var(--spacing) * 0);
  }

  .pl-\[40px\] {
    padding-left: 40px;
  }

  .text-right {
    text-align: right;
  }

  .font-\[\'Inter\:Bold\'\,\'Noto_Sans_KR\:Bold\'\,sans-serif\] {
    font-family: Inter\:Bold, Noto Sans KR\:Bold, sans-serif;
  }

  .font-\[\'Inter\:Bold\'\,sans-serif\] {
    font-family: Inter\:Bold, sans-serif;
  }

  .font-\[\'Inter\:Medium\'\,\'Noto_Sans_KR\:Medium\'\,sans-serif\] {
    font-family: Inter\:Medium, Noto Sans KR\:Medium, sans-serif;
  }

  .font-\[\'Inter\:Regular\'\,\'Noto_SANS_KR\:Regular\'\,sans-serif\] {
    font-family: Inter\:Regular, Noto SANS KR\:Regular, sans-serif;
  }

  .font-\[\'Inter\:Regular\'\,\'Noto_Sans_KR\:Regular\'\,sans-serif\] {
    font-family: Inter\:Regular, Noto Sans KR\:Regular, sans-serif;
  }

  .font-\[\'Inter\:Regular\'\,sans-serif\] {
    font-family: Inter\:Regular, sans-serif;
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-\[14px\] {
    font-size: 14px;
  }

  .text-\[15px\] {
    font-size: 15px;
  }

  .text-\[16px\] {
    font-size: 16px;
  }

  .text-\[18px\] {
    font-size: 18px;
  }

  .leading-\[0\] {
    --tw-leading: 0;
    line-height: 0;
  }

  .leading-\[14px\] {
    --tw-leading: 14px;
    line-height: 14px;
  }

  .leading-\[16px\] {
    --tw-leading: 16px;
    line-height: 16px;
  }

  .leading-\[20px\] {
    --tw-leading: 20px;
    line-height: 20px;
  }

  .leading-\[22px\] {
    --tw-leading: 22px;
    line-height: 22px;
  }

  .leading-\[24px\] {
    --tw-leading: 24px;
    line-height: 24px;
  }

  .leading-\[26px\] {
    --tw-leading: 26px;
    line-height: 26px;
  }

  .leading-\[normal\] {
    --tw-leading: normal;
    line-height: normal;
  }

  .leading-none {
    --tw-leading: 1;
    line-height: 1;
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-normal {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .tracking-\[-0\.1504px\] {
    --tw-tracking: -.1504px;
    letter-spacing: -.1504px;
  }

  .tracking-\[-0\.3125px\] {
    --tw-tracking: -.3125px;
    letter-spacing: -.3125px;
  }

  .tracking-tight {
    --tw-tracking: var(--tracking-tight);
    letter-spacing: var(--tracking-tight);
  }

  .text-nowrap {
    text-wrap: nowrap;
  }

  .overflow-ellipsis {
    text-overflow: ellipsis;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .whitespace-pre {
    white-space: pre;
  }

  .text-\[\#222\] {
    color: #222;
  }

  .text-\[\#2487f8\] {
    color: #2487f8;
  }

  .text-\[\#030213\] {
    color: #030213;
  }

  .text-\[\#717182\] {
    color: #717182;
  }

  .text-\[\#767676\] {
    color: #767676;
  }

  .text-\[color\:var\(--black\,\#222222\)\] {
    color: var(--black, #222);
  }

  .text-\[color\:var\(--darkgrey\,\#767676\)\] {
    color: var(--darkgrey, #767676);
  }

  .text-\[rgba\(10\,10\,10\,0\.5\)\] {
    color: #0a0a0a80;
  }

  .text-card-foreground {
    color: var(--card-foreground);
  }

  .text-destructive-foreground {
    color: var(--destructive-foreground);
  }

  .text-muted-foreground {
    color: var(--muted-foreground);
  }

  .text-neutral-950 {
    color: var(--color-neutral-950);
  }

  .text-primary {
    color: var(--primary);
  }

  .text-primary-foreground {
    color: var(--primary-foreground);
  }

  .text-secondary-foreground {
    color: var(--secondary-foreground);
  }

  .text-white {
    color: var(--color-white);
  }

  .not-italic {
    font-style: normal;
  }

  .underline-offset-4 {
    text-underline-offset: 4px;
  }

  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .shadow-sm {
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .ring-offset-background {
    --tw-ring-offset-color: var(--background);
  }

  .outline {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
  }

  .transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .\[grid-area\:1_\/_1\] {
    grid-area: 1 / 1;
  }

  .\[white-space-collapse\:collapse\] {
    white-space-collapse: collapse;
  }

  .file\:border-0::file-selector-button {
    border-style: var(--tw-border-style);
    border-width: 0;
  }

  .file\:bg-transparent::file-selector-button {
    background-color: #0000;
  }

  .file\:text-sm::file-selector-button {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .file\:font-medium::file-selector-button {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .placeholder\:text-muted-foreground::placeholder {
    color: var(--muted-foreground);
  }

  @media (hover: hover) {
    .hover\:bg-destructive\/90:hover {
      background-color: var(--destructive);
    }

    @supports (color: color-mix(in lab, red, red)) {
      .hover\:bg-destructive\/90:hover {
        background-color: color-mix(in oklab, var(--destructive) 90%, transparent);
      }
    }
  }

  @media (hover: hover) {
    .hover\:bg-primary\/90:hover {
      background-color: var(--primary);
    }

    @supports (color: color-mix(in lab, red, red)) {
      .hover\:bg-primary\/90:hover {
        background-color: color-mix(in oklab, var(--primary) 90%, transparent);
      }
    }
  }

  @media (hover: hover) {
    .hover\:bg-secondary\/80:hover {
      background-color: var(--secondary);
    }

    @supports (color: color-mix(in lab, red, red)) {
      .hover\:bg-secondary\/80:hover {
        background-color: color-mix(in oklab, var(--secondary) 80%, transparent);
      }
    }
  }

  @media (hover: hover) {
    .hover\:underline:hover {
      text-decoration-line: underline;
    }
  }

  .focus-visible\:ring-2:focus-visible {
    --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .focus-visible\:ring-ring:focus-visible {
    --tw-ring-color: var(--ring);
  }

  .focus-visible\:ring-offset-2:focus-visible {
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  }

  .focus-visible\:outline-none:focus-visible {
    --tw-outline-style: none;
    outline-style: none;
  }

  .disabled\:pointer-events-none:disabled {
    pointer-events: none;
  }

  .disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed;
  }

  .disabled\:opacity-50:disabled {
    opacity: .5;
  }
}

:root {
  --background: #fff;
  --foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #171717;
  --primary: #2563eb;
  --primary-foreground: #fff;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --destructive: #dc2626;
  --destructive-foreground: #fff;
  --card: #fff;
  --card-foreground: #171717;
  --popover: #fff;
  --popover-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --muted: #171717;
    --muted-foreground: #a3a3a3;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --primary: #3b82f6;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #ededed;
    --destructive: #ef4444;
    --destructive-foreground: #ededed;
    --card: #171717;
    --card-foreground: #ededed;
    --popover: #171717;
    --popover-foreground: #ededed;
  }
}

* {
  border-color: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@property --tw-space-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

/*# sourceMappingURL=app_globals_css_bad6b30c._.single.css.map*/